html, body{
font-size:110%;
font-weight:bold;
font-family:fuente;
margin:0px;
padding:0px
}
body{
background-color:#228866;
}

h1{color:blue}
p{align:center}

nav ul{
list-style-type:none;
padding:0px;
flex:1;
}

@font-face{
            font-family:fuente;
            src:url(font/fuente.otf);
}

.contenido{display:flex; flex-direction: row;}
section{flex: 3;}
footer{display:block;}

